<html>
  <head>
    <!--Load the AJAX API-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['controls', 'corechart']});
      
      change("day")
      
      function change(range) {
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        if (range == "day"){
          // Create the data table.
          var data = new google.visualization.DataTable({{ day_json | safe }});
          document.getElementById('total-kwh').innerHTML = {{ day_totals[0] }};
          document.getElementById('total-carbon').innerHTML = {{ day_totals[1] }};
        } else if (range == "week"){
          var data = new google.visualization.DataTable({{ week_json | safe }});
          document.getElementById('total-kwh').innerHTML = {{ week_totals[0] }};
          document.getElementById('total-carbon').innerHTML = {{ week_totals[1] }};
        } else if (range == "month"){
          var data = new google.visualization.DataTable({{ month_json | safe }});
          document.getElementById('total-kwh').innerHTML = {{ month_totals[0] }};
          document.getElementById('total-carbon').innerHTML = {{ month_totals[1] }};
        } else if (range == "year"){
          var data = new google.visualization.DataTable({{ year_json | safe }});
          document.getElementById('total-kwh').innerHTML = {{ year_totals[0] }};
          document.getElementById('total-carbon').innerHTML = {{ year_totals[1] }};
        };

        // Set chart options
        var options = {'title':'kWh'};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ChartWrapper({
          chartType: 'LineChart',
          containerId: 'chart-line',
          dataTable: data,
          options: {
            height: 280,
            legend: {
              alignment: 'end',
              position: 'top'
            },
            animation: {
              duration: 500,
              easing: 'in',
              startup: true
            },
            vAxes: [{
              title: 'Power Used (kWh)'
            },
            {
              title:'Carbon Produced (g of CO2)',
            }
            ],
            series: {
              0: {
                targetAxisIndex: 0
              },
              1: {
                targetAxisIndex: 1
              }
            }
          }
        });
        chart.draw();
      };
    };
    </script>
  </head>

  <body>
    <!--Div that will hold the chart-->
    <div id="dashboard">
      <div id="range-buttons">
        <button class="ui-button ui-widget ui-corner-all" onclick="change('day')">D</button>
        <button class="ui-button ui-widget ui-corner-all"onclick="change('week')">W</button>
        <button class="ui-button ui-widget ui-corner-all"onclick="change('month')">M</button>
        <button class="ui-button ui-widget ui-corner-all"onclick="change('year')">Y</button>
      </div>
      <div id="chart-line"></div>
      <div id="filter-range"></div>
    </div>
    <p>Total power usage: <span id='total-kwh'></span> kWh</p>
    <p>Total carbon produced: <span id='total-carbon'></span> gCO2</p>
    <p>Current usage: {{ kW }} kW</p>
    <p>Current carbon instensity: {{ carbon_data[0] }} gCO2/kWh ({{ carbon_data[1] }})</p>
  </body>
</html>